[submodule "_ext/libopusenc"]
	path = _ext/libopusenc
	url = https://github.com/xiph/libopusenc.git
[submodule "_ext/libtgvoip"]
	path = _ext/libtgvoip
	url = https://github.com/telegramdesktop/libtgvoip.git